
/* basic.css | file:///home/nate/code/opentype-shaping-documents/_build/html/_static/basic.css */

div.body {
  /* min-width: 360px; */
  /* max-width: 800px; */
  min-width: 460px;
  max-width: 800px;
}

/* alabaster.css | file:///home/nate/code/opentype-shaping-documents/_build/html/_static/alabaster.css */

/*div.document {
  /* width: 940px; */
/*  width: 1040px;
} */

/* div.sphinxsidebar {
  /* width: 220px; */
/*  width: 240px;
} */

div.bodywrapper {
  /* margin: 0 0 0 220px; */
  margin: 0 0 0 300px;
}


/* Hanging section numbers, for slightly easier in-page navigation. */

/* Indent the body text by a fixed amount on the left, 
   then move section-numbers leftward by the same amount. */
div.body>section {
    margin-left: 4rem;
}


span.section-number {
    display: inline-block;
    width: 3.5rem;
    text-align: right;
    margin-left: -4.5rem;
    margin-right: .5rem;
}
/*
span.section-number::after {
    content: " ";
    white-space: pre;
}*/

/* Locally served fonts, to support more smartfont features */
@font-face {
    font-family: 'Source Serif 4';
    src: url('./fonts/Source_Serif_4/SourceSerif4-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-style: italic;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('./fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-style: normal;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype-variations');
    size-adjust: 94%; /* 47% of x-height  originally.... */
    font-style: italic;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf') format('truetype-variations');
    size-adjust: 94%; /* 47% of x-height  originally.... */
    font-style: normal;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype-variations');
    size-adjust: 92%; /* 46% of x-height  originally.... */
    font-style: italic;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype-variations');
    size-adjust: 92%; /* 46% of x-height  originally.... */
    font-style: normal;
    font-weight: 1 999;
}

/* Use oldstyle numerals in body text */
body {
    font-feature-settings: "onum";
}


/* Tables                 */
/* alternating background colors like GitHub inline styling uses */
tr:nth-child(even) {background: #F0F0F4}
tr:nth-child(odd) {background: #FFF}
/* Less obtrusive headers */
th {
    font-family: 'Source Sans 3';
    font-size-adjust: 0.48;
    font-weight: 600;
    background: #F0F0F4;
    font-feature-settings: "tnum", "lnum";
}

tr {
    font-feature-settings: "tnum", "lnum";
}

/* Try to target the captions in the toctree sidebar */
p.caption[role="heading"] span.caption-text {
    font-size: 120%
}

/* Try to target the list beneath the captions in the toctree sidebar */ 
p.caption[role="heading"] + ul {
  text-indent: 0.6em;
}

/* Make <abbr> acronyms small-caps, but not interactive tooltips */
/* The font-size adjustment here may be temproary; it depends on */
/* the smallcap height of the font eventually specified.         */
abbr {
  font-variant: all-small-caps;
  font-size: larger;
  font-weight: 375;
  cursor: default;
  border-bottom: none;
}

/* Style 'samp' elements used to indicate explicit sequences and */
/* input/output character references that must be exact.         */
samp {
    font-family: 'Source Sans 3';
    font-size-adjust: 0.48;
    font-weight: 500; /* slightly heavier only */
    color: #558;
}

/* De-emphasize Sphinx's section numbering, so as to be less */
/* distracting.                                              */
/*                                                           */
/* TODO: shift numbers into margin.                          */
.section-number {
    font-size: 70%;
    color: #888;
}

/* Style rules for using Source family fonts */
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-weight: 500;
}

/* Make the site-title in the sidebar bolder and different since */
/* there is no project logo.                                     */
h1.logo {
    font-family: 'Source Sans 3';
    font-weight: 800;
    font-size: 32px;
    border-bottom: none;
    text-decoration: none;
}

/* Fix the Alabaster theme's default font-scaling since we are */
/* using a complete superfamily with consistent sizing.        */
pre, tt, code {
    font-size: 1.0em; /* Undo Alabaster setting, best balance for the 3 element types considering Alabaster's other style rules */
    font-weight: 450;
    font-size-adjust: 0.46;
    font-feature-settings: "tnum", "lnum";
}

/* Define table captions */
caption {
    caption-side: bottom;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #656565;
}

/* Set figcaptions to look like table captions */
figcaption {
    padding-top: 6px;
    /* padding-bottom: 6px;  altering this to account for toggle-button placement*/
    padding-bottom: 0px;
    margin-bottom: -12px;
    color: #656565;
}

figcaption p {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
}

/* Slightly lighten bgcolor on pre/tt/code in the captions, since the fg text color is lighter */

caption pre,
caption span.pre,
caption span.tt,
caption span.code,
figcaption pre,
figcaption span.pre,
figcaption span.tt,
figcaption span.code {
    background-color: #eff4f7; /* testing; needs to be lighter because text is grey */
}

/* Set maximum size of SVG illustrations   */
/*                                         */
/* Width is currently limited to 100% of   */
/* the parent element; height is currently */
/* specified relative to the text size,    */
/* for presumptive convenience. 18em is a  */
/* trial-and-error value that seems to be  */
/* reasonable, but is by no means science. */
svg.shaping-demo {
    max-width: 100%;
    max-height: 18em;
}


/* Toggleable SVG clusters */
/*                    
/* Greyscale               */
/* dc: dotted-circle       */
.shaping-demo.greyscale-svg .dc {
    fill: #999999;
    stroke-width: 0%;
}
/* arrow: right-arrow      */
.shaping-demo.greyscale-svg .arrow {
    fill: #666666;
    stroke-width: 0%;
}
/* z: ZWJ and ZWNJ         */
.shaping-demo.greyscale-svg .z {
    fill: #999999;
    stroke: #999999;
    stroke-width: 1px;
}
/* c0: cluster 0           */
.shaping-demo.greyscale-svg .c0 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 1           */
.shaping-demo.greyscale-svg .c1 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 2           */
.shaping-demo.greyscale-svg .c2 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 3           */
.shaping-demo.greyscale-svg .c3 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 4           */
.shaping-demo.greyscale-svg .c4 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 5           */
.shaping-demo.greyscale-svg .c5 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 6           */
.shaping-demo.greyscale-svg .c6 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 7           */
.shaping-demo.greyscale-svg .c7 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 8           */
.shaping-demo.greyscale-svg .c8 {
    fill: #000000;
    stroke-width: 0%;
}
/* c0: cluster 9           */
.shaping-demo.greyscale-svg .c9 {
    fill: #000000;
    stroke-width: 0%;
}

/* Colorized               */
/* dc: dotted-circle       */
.shaping-demo.color-svg .dc {
    fill: #999999;
    stroke-width: 0%;
}
/* arrow: right-arrow      */
.shaping-demo.color-svg .arrow {
    fill: #666666;
    stroke-width: 0%;
}
/* z: ZWJ and ZWNJ         */
.shaping-demo.color-svg .z {
    fill: #999999;
    stroke: #999999;
    stroke-width: 1px;
}
/* c0: cluster 0           */
.shaping-demo.color-svg .c0 {
    fill: #3366cc;
    stroke-width: 0%;
}
/* c0: cluster 1           */
.shaping-demo.color-svg .c1 {
    fill: #dc3912;
    stroke-width: 0%;
}
/* c0: cluster 2           */
.shaping-demo.color-svg .c2 {
    fill: #ff9900;
    stroke-width: 0%;
}
/* c0: cluster 3           */
.shaping-demo.color-svg .c3 {
    fill: #109618;
    stroke-width: 0%;
}
/* c0: cluster 4           */
.shaping-demo.color-svg .c4 {
    fill: #990099;
    stroke-width: 0%;
}
/* c0: cluster 5           */
.shaping-demo.color-svg .c5 {
    fill: #0099c6;
    stroke-width: 0%;
}
/* c0: cluster 6           */
.shaping-demo.color-svg .c6 {
    fill: #dd4477;
    stroke-width: 0%;
}
/* c0: cluster 7           */
.shaping-demo.color-svg .c7 {
    fill: #66aa00;
    stroke-width: 0%;
}
/* c0: cluster 8           */
.shaping-demo.color-svg .c8 {
    fill: #b82e2e;
    stroke-width: 0%;
}
/* c0: cluster 9           */
.shaping-demo.color-svg .c9 {
    fill: #316395;
    stroke-width: 0%;
}

button.svg-color-toggle-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -8.5px; This makes alignment overly complicated.... */
    padding: 4px 16px 5px 16px;
    font-size: small;
    color: #999;
    background-color: #fff0;
    border: 1px solid;
    border-color: #bbb;
    border-radius: 3px;
}

blockquote {
    margin-top: 17px;
}
